<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>添加用戶</h1>
    <form method="post" action="/info/add/">
        {% csrf_token%}
        <input type="text" name="user" placeholder="用戶名">
        <input type="text" name="password" placeholder="密碼">
        <input type="text" name="age" placeholder="年齡">
        <input type="submit" value="提交">
    </form>
</body>
</html>